<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Template</title>
</head>
<body>
    <h1>Welcome <%= name %>!</h1>
    <p>Hello, you recieved a new message from:<br/>
        Name: : <%= name %><br/>
        E-Mail: <%= email %><br/>
        Phone Number: <%= mobile %><br/>
        Message: <%= message %>
    </p>
</body>
</html>
